xsd/Card_v1.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Developer Edition (Trial) 8.1.7.2743 (http://www.liquid-technologies.com)-->
<xs:schema xmlns="http://www.yeka.gr/Card" xml:lang="gr" attributeFormDefault="unqualified" targetNamespace="http://www.yeka.gr/Card" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CardDetailType">
    <xs:sequence>
      <xs:element name="f_afm" nillable="false">
        <xs:annotation>
          <xs:documentation>ΑΡΙΘΜΟΣ ΦΟΡΟΛΟΓΙΚΟΥ ΜΗΤΡΩΟΥ (Α.Φ.Μ.)</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="([0-9]){9}" />
            <xs:length value="9" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="f_eponymo" nillable="false">
        <xs:annotation>
          <xs:documentation>ΕΠΩΝΥΜΟ</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="f_onoma" nillable="false">
        <xs:annotation>
          <xs:documentation>ΟΝΟΜΑ</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="30" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="f_type" nillable="false">
        <xs:annotation>
          <xs:documentation>Τύπος Κίνησης (0) ΕΙΣΟΔΟΣ (1) ΕΞΟΔΟΣ</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="f_reference_date" nillable="false">
        <xs:annotation>
          <xs:documentation>ΗΜ/ΝΙΑ Αναφοράς</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:date">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="f_date" nillable="false">
        <xs:annotation>
          <xs:documentation>ΗΜ/ΝΙΑ Κίνησης</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:dateTime">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="f_aitiologia" nillable="false">
        <xs:annotation>
          <xs:documentation>ΚΩΔΙΚΟΣ ΑΙΤΙΟΛΟΓΙΑΣ (Σε περίπτωση Εκπρόθεσμου)</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="([0-9]{1,10})|([ ]*)" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CardDetailsType">
    <xs:sequence>
      <xs:element name="CardDetails" type="CardDetailType"  minOccurs="1"  maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>ΣΤΟΙΧΕΙΑ ΚΙΝΗΣΕΩΝ</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CardType">
    <xs:sequence>
      <xs:element name="f_afm_ergodoti" nillable="false">
        <xs:annotation>
          <xs:documentation>ΑΡΙΘΜΟΣ ΦΟΡΟΛΟΓΙΚΟΥ ΜΗΤΡΩΟΥ (Α.Φ.Μ.)</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="([0-9]){9}" />
            <xs:length value="9" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="f_aa" nillable="false">
        <xs:annotation>
          <xs:documentation>Α/Α ΠΑΡΑΡΤΗΜΑΤΟΣ</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,5}" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="f_comments" nillable="false">
        <xs:annotation>
          <xs:documentation>ΣΧΟΛΙΑ</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="200" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element name="Details" type="CardDetailsType">
        <xs:annotation>
          <xs:documentation>ΣΤΟΙΧΕΙΑ ΚΙΝΗΣΕΩΝ</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CardsType">
    <xs:sequence>
      <xs:element name="Card" type="CardType"  minOccurs="1"  maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>ΔΗΛΩΣΗ ΚΑΡΤΑΣ</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cards" type="CardsType">
    <xs:annotation>
      <xs:documentation>Δηλώσεις Κάρτας</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>
