xsd/E35_v2.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Developer Edition (Trial) 8.1.7.2743 (http://www.liquid-technologies.com)-->
<xs:schema xmlns="http://www.yeka.gr/E35" xml:lang="gr" attributeFormDefault="unqualified" targetNamespace="http://www.yeka.gr/E35" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="PraktikhE35Type">
        <xs:sequence>
            <xs:element name="f_aa_pararthmatos" nillable="false">
                <xs:annotation>
                    <xs:documentation>Α/Α ΠΑΡΑΡΤΗΜΑΤΟΣ</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[0-9]{1,5}" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_rel_protocol">
                <xs:annotation>
                    <xs:documentation>ΣΧΕΤΙΚΟ ΕΝΤΥΠΟ ΑΡΙΘ. ΠΡΩΤ.</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="50" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_rel_date">
                <xs:annotation><xs:documentation>ΣΧΕΤΙΚΟ ΕΝΤΥΠΟ ΗΜΕΡΟΜΗΝΙΑ</xs:documentation></xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="(([0]?)([1-9])([/])([0]?1|[0]?2|[0]?3|[0]?4|[0]?5|[0]?6|[0]?7|[0]?8|[0]?9|10|11|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([1])([0-9])([/])([0]?1|[0]?2|[0]?3|[0]?4|[0]?5|[0]?6|[0]?7|[0]?8|[0]?9|10|11|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([2])([0-9])([/])([0]?1|[0]?3|[0]?4|[0]?5|[0]?6|[0]?7|[0]?8|[0]?9|10|11|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([2])([0-8])([/])([0]?2)([/])([1-2])([0-9])([0-9])([0-9]))|(([2])([9])([/])([0]?2)([/])([1-2])([0-9])(00|04|08|12|16|20|24|28|32|36|40|44|48|52|56|60|64|68|72|76|80|84|88|92|96))|(([3])([0-1])([/])(01|03|05|07|08|10|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([3])([0])([/])(04|06|09|11)([/])([1-2])([0-9])([0-9])([0-9]))|([ ]*)"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_ypiresia_sepe" nillable="false">
                <xs:annotation>
                    <xs:documentation>ΚΩΔΙΚΟΣ ΥΠΗΡΕΣΙΑΣ ΕΠΙΘΕΩΡΗΣΗΣ ΕΡΓΑΣΙΑΣ</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[0-9]{5}" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_ypiresia_oaed" nillable="false">
                <xs:annotation>
                    <xs:documentation>ΚΩΔΙΚΟΣ ΥΠΗΡΕΣΙΑΣ ΔΥΠΑ</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[0-9]{6}" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_ergodotikh_organwsh">
                <xs:annotation>
                    <xs:documentation>ΕΡΓΟΔΟΤΙΚΗ ΟΡΓΑΝΩΣΗ</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="20" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_kad_kyria" nillable="false">
                <xs:annotation>
                    <xs:documentation>Κ.Α.Δ. - ΚΥΡΙΑ ΔΡΑΣΤΗΡΙΟΤΗΤΑ</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[0-9]{4}" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_kad_deyt_1">
                <xs:annotation>
                    <xs:documentation>Κ.Α.Δ. - ΔΕΥΤΕΡΕΥΟΥΣΑ ΔΡΑΣΤΗΡΙΟΤΗΤΑ 1</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="([0-9]{4})|([ ]*)" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_kad_deyt_2">
                <xs:annotation>
                    <xs:documentation>Κ.Α.Δ. - ΔΕΥΤΕΡΕΥΟΥΣΑ ΔΡΑΣΤΗΡΙΟΤΗΤΑ 2</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="([0-9]{4})|([ ]*)" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_kad_deyt_3">
                <xs:annotation>
                    <xs:documentation>Κ.Α.Δ. - ΔΕΥΤΕΡΕΥΟΥΣΑ ΔΡΑΣΤΗΡΙΟΤΗΤΑ 3</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="([0-9]{4})|([ ]*)" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_kad_deyt_4">
                <xs:annotation>
                    <xs:documentation>Κ.Α.Δ. - ΔΕΥΤΕΡΕΥΟΥΣΑ ΔΡΑΣΤΗΡΙΟΤΗΤΑ 4</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="([0-9]{4})|([ ]*)" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_kad_pararthmatos" nillable="false">
                <xs:annotation>
                    <xs:documentation>Κ.Α.Δ. ΠΑΡΑΡΤΗΜΑΤΟΣ</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[0-9]{4}" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_kallikratis_pararthmatos" nillable="false">
                <xs:annotation>
                    <xs:documentation>ΔΗΜΟΤΙΚΗ / ΤΟΠΙΚΗ ΚΟΙΝΟΤΗΤΑ</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[0-9]{8}" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_eponymo" nillable="false">
                <xs:annotation>
                    <xs:documentation>ΕΠΩΝΥΜΟ</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="50" />
                        <xs:minLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_onoma" nillable="false">
                <xs:annotation>
                    <xs:documentation>ΟΝΟΜΑ</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="30" />
                        <xs:minLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_onoma_patros" nillable="false">
                <xs:annotation>
                    <xs:documentation>ΟΝΟΜΑ ΠΑΤΡΟΣ</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="30" />
                        <xs:minLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_onoma_mitros" nillable="false">
                <xs:annotation>
                    <xs:documentation>ΟΝΟΜΑ ΜΗΤΡΟΣ</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="30" />
                        <xs:minLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_topos_gennhshs">
                <xs:annotation>
                    <xs:documentation>ΤΟΠΟΣ ΓΕΝΝΗΣΗΣ</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="50" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_birthdate" nillable="false">
                <xs:annotation><xs:documentation>ΗΜΕΡΟΜΗΝΙΑ ΓΕΝΝΗΣΗΣ</xs:documentation></xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="(([0]?)([1-9])([/])([0]?1|[0]?2|[0]?3|[0]?4|[0]?5|[0]?6|[0]?7|[0]?8|[0]?9|10|11|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([1])([0-9])([/])([0]?1|[0]?2|[0]?3|[0]?4|[0]?5|[0]?6|[0]?7|[0]?8|[0]?9|10|11|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([2])([0-9])([/])([0]?1|[0]?3|[0]?4|[0]?5|[0]?6|[0]?7|[0]?8|[0]?9|10|11|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([2])([0-8])([/])([0]?2)([/])([1-2])([0-9])([0-9])([0-9]))|(([2])([9])([/])([0]?2)([/])([1-2])([0-9])(00|04|08|12|16|20|24|28|32|36|40|44|48|52|56|60|64|68|72|76|80|84|88|92|96))|(([3])([0-1])([/])(01|03|05|07|08|10|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([3])([0])([/])(04|06|09|11)([/])([1-2])([0-9])([0-9])([0-9]))"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_sex" nillable="false">
                <xs:annotation><xs:documentation>ΦΥΛΟ - (0) ΑΝΤΡΑΣ - (1) ΓΥΝΑΙΚΑ</xs:documentation></xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="0"/>
                        <xs:enumeration value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_yphkoothta" nillable="false">
                <xs:annotation>
                    <xs:documentation>ΥΠΗΚΟΟΤΗΤΑ</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[0-9]{3}" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
             <xs:element name="f_typos_taytothtas" nillable="false">
                <xs:annotation>
                    <xs:documentation>ΤΥΠΟΣ ΤΑΥΤΟΤΗΤΑΣ</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[A-ZΑ-Ω]{1,10}" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_ar_taytothtas" nillable="false">
                <xs:annotation>
                    <xs:documentation>ΑΡΙΘΜΟΣ ΤΑΥΤΟΤΗΤΑΣ</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="20" />
                        <xs:minLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_ekdousa_arxh" >
                <xs:annotation>
                    <xs:documentation>ΕΚΔΟΥΣΑ ΑΡΧΗ</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="50" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
             <xs:element name="f_date_ekdosis">
                <xs:annotation><xs:documentation>ΗΜΕΡΟΜΗΝΙΑ ΕΚΔΟΣΗΣ</xs:documentation></xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="(([0]?)([1-9])([/])([0]?1|[0]?2|[0]?3|[0]?4|[0]?5|[0]?6|[0]?7|[0]?8|[0]?9|10|11|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([1])([0-9])([/])([0]?1|[0]?2|[0]?3|[0]?4|[0]?5|[0]?6|[0]?7|[0]?8|[0]?9|10|11|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([2])([0-9])([/])([0]?1|[0]?3|[0]?4|[0]?5|[0]?6|[0]?7|[0]?8|[0]?9|10|11|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([2])([0-8])([/])([0]?2)([/])([1-2])([0-9])([0-9])([0-9]))|(([2])([9])([/])([0]?2)([/])([1-2])([0-9])(00|04|08|12|16|20|24|28|32|36|40|44|48|52|56|60|64|68|72|76|80|84|88|92|96))|(([3])([0-1])([/])(01|03|05|07|08|10|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([3])([0])([/])(04|06|09|11)([/])([1-2])([0-9])([0-9])([0-9]))|([ ]*)"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_date_ekdosis_lixi">
                <xs:annotation><xs:documentation>ΗΜΕΡΟΜΗΝΙΑ ΛΗΞΗΣ ΙΣΧΥΟΣ</xs:documentation></xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="(([0]?)([1-9])([/])([0]?1|[0]?2|[0]?3|[0]?4|[0]?5|[0]?6|[0]?7|[0]?8|[0]?9|10|11|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([1])([0-9])([/])([0]?1|[0]?2|[0]?3|[0]?4|[0]?5|[0]?6|[0]?7|[0]?8|[0]?9|10|11|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([2])([0-9])([/])([0]?1|[0]?3|[0]?4|[0]?5|[0]?6|[0]?7|[0]?8|[0]?9|10|11|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([2])([0-8])([/])([0]?2)([/])([1-2])([0-9])([0-9])([0-9]))|(([2])([9])([/])([0]?2)([/])([1-2])([0-9])(00|04|08|12|16|20|24|28|32|36|40|44|48|52|56|60|64|68|72|76|80|84|88|92|96))|(([3])([0-1])([/])(01|03|05|07|08|10|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([3])([0])([/])(04|06|09|11)([/])([1-2])([0-9])([0-9])([0-9]))|([ ]*)"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_res_permit_int">
				<xs:annotation>
					<xs:documentation>ΑΤΟΜΙΚΗ ΑΔΕΙΑ ΠΑΡΑΜΟΝΗΣ ή ΑΔΕΙΑ ΕΡΓΑΣΙΑΣ ΑΛΛΟΔΑΠΟΥ (0) ΌΧΙ (1) ΝΑΙ </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=""/>
						<xs:enumeration value="0"/>
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
            <xs:element name="f_res_permit_int_type">
                <xs:annotation>
                    <xs:documentation>ΕΙΔΟΣ ΑΤΟΜΙΚΗΣ ΑΔΕΙΑΣ ΠΑΡΑΜΟΝΗΣ ή ΑΔΕΙΑΣ ΕΡΓΑΣΙΑΣ ΑΛΛΟΔΑΠΟΥ</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[0-9]{0,5}" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_res_permit_int_ar">
                <xs:annotation>
                    <xs:documentation>ΑΡΙΘΜΟΣ ΑΔΕΙΑΣ ΔΙΑΜΟΝΗΣ ΠΟΛΙΤΩΝ ΤΡΙΤΩΝ ΧΩΡΩΝ Η ΟΠΟΙΑ ΠΑΡΕΧΕΙ ΔΙΚΑΙΩΜΑ ΑΜΕΣΗΣ ΠΡΟΣΒΑΣΗΣ ΣΤΗΝ ΑΓΟΡΑ ΕΡΓΑΣΙΑΣ</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="20" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_res_permit_int_lixi">
                <xs:annotation><xs:documentation>ΗΜΕΡΟΜΗΝΙΑ ΛΗΞΗΣ ΑΔΕΙΑΣ ΔΙΑΜΟΝΗΣ ΠΟΛΙΤΩΝ ΤΡΙΤΩΝ ΧΩΡΩΝ Η ΟΠΟΙΑ ΠΑΡΕΧΕΙ ΔΙΚΑΙΩΜΑ ΑΜΕΣΗΣ ΠΡΟΣΒΑΣΗΣ ΣΤΗΝ ΑΓΟΡΑ ΕΡΓΑΣΙΑΣ</xs:documentation></xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="(([0]?)([1-9])([/])([0]?1|[0]?2|[0]?3|[0]?4|[0]?5|[0]?6|[0]?7|[0]?8|[0]?9|10|11|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([1])([0-9])([/])([0]?1|[0]?2|[0]?3|[0]?4|[0]?5|[0]?6|[0]?7|[0]?8|[0]?9|10|11|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([2])([0-9])([/])([0]?1|[0]?3|[0]?4|[0]?5|[0]?6|[0]?7|[0]?8|[0]?9|10|11|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([2])([0-8])([/])([0]?2)([/])([1-2])([0-9])([0-9])([0-9]))|(([2])([9])([/])([0]?2)([/])([1-2])([0-9])(00|04|08|12|16|20|24|28|32|36|40|44|48|52|56|60|64|68|72|76|80|84|88|92|96))|(([3])([0-1])([/])(01|03|05|07|08|10|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([3])([0])([/])(04|06|09|11)([/])([1-2])([0-9])([0-9])([0-9]))|([ ]*)"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_marital_status" nillable="false">
                <xs:annotation><xs:documentation>ΟΙΚΟΓ. ΚΑΤΑΣΤΑΣΗ - (0) ΑΓΑΜΟΣ - (1) ΕΓΓΑΜΟΣ - (2) ΔΙΑΖΕΥΓΜΕΝΟΣ - (3) ΧΗΡΟΣ</xs:documentation></xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="0"/>
                        <xs:enumeration value="1"/>
                        <xs:enumeration value="2"/>
                        <xs:enumeration value="3"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_arithmos_teknon" nillable="false">
                <xs:annotation><xs:documentation>ΑΡΙΘΜΟΣ ΤΕΚΝΩΝ</xs:documentation></xs:annotation>
                <xs:simpleType>
                   <xs:restriction base="xs:string">
                        <xs:pattern value="[0-9]{1,2}" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_afm" nillable="false">
                <xs:annotation>
                    <xs:documentation>ΑΡΙΘΜΟΣ ΦΟΡΟΛΟΓΙΚΟΥ ΜΗΤΡΩΟΥ (Α.Φ.Μ.)</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="([0-9]){9}" />
                        <xs:length value="9" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_doy">
                <xs:annotation>
                    <xs:documentation>Δ.Ο.Υ.</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="([0-9]{4})|([ ]*)" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_amika">
                <xs:annotation>
                    <xs:documentation>ΑΡΙΘΜΟΣ ΜΗΤΡΩΟΥ (Ασφαλισμένου) Ι.Κ.Α.</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[0-9]{0,20}" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_amka" nillable="false">
                <xs:annotation>
                    <xs:documentation>ΑΡΙΘΜΟΣ ΜΗΤΡΩΟΥ ΚΟΙΝΩΝΙΚΗΣ ΑΣΦΑΛΙΣΗΣ (Α.Μ.Κ.Α.)</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[0-9]{0,20}" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_ar_vivliou_anilikou">
                <xs:annotation>
                    <xs:documentation>ΑΡ. ΒΙΒΛΙΑΡΙΟΥ ΑΝΗΛΙΚΟΥ</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="20" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_til">
                <xs:annotation>
                    <xs:documentation>ΤΗΛΕΦΩΝΟ</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="25" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_email">
                <xs:annotation>
                    <xs:documentation>E-MAIL</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="50" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_epipedo_morfosis" nillable="false">
				<xs:annotation><xs:documentation>ΕΚΠΑΙΔΕΥΤΙΚΟ ΕΠΙΠΕΔΟ - (0) Α.Ε.Ι./Α.Τ.Ε.Ι - (1) Δ.Ι.Ε.Κ- (2) Ι.Ι.Ε.Κ.- (3) ΚΟΛΕΓΙΑ- (4) ΚΔΒΜ- (5) ΔΕΣΚ</xs:documentation></xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="0"/>
							<xs:enumeration value="1"/>
							<xs:enumeration value="2"/>
							<xs:enumeration value="3"/>
							<xs:enumeration value="4"/>
							<xs:enumeration value="5"/>
						</xs:restriction>
					</xs:simpleType>
            </xs:element>
            <xs:element name="f_educational_institute_nationality" nillable="false">
				<xs:annotation>
					<xs:documentation>ΧΩΡΑ ΕΚΠΑΙΔΕΥΤΙΚΟΥ ΙΔΡΥΜΑΤΟΣ</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
                        <xs:pattern value="[0-9]{1,10}" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
            <xs:element name="f_educational_institute_name" nillable="false">
                <xs:annotation>
                    <xs:documentation>ΟΝΟΜΑΣΙΑ ΕΚΠΑΙΔΕΥΤΙΚΟΥ ΙΔΡΥΜΑΤΟΣ</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="200" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_sxolh" nillable="false">
                <xs:annotation>
                    <xs:documentation>ΣΧΟΛΗ</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="200" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_department" nillable="false">
                <xs:annotation>
                    <xs:documentation>ΤΜΗΜΑ</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="200" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_approval_number" nillable="false">
                <xs:annotation>
                    <xs:documentation>ΑΡΙΘΜΟΣ ΕΓΚΡΙΤΙΚΗΣ ΑΠΟΦΑΣΗΣ</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="200" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_date_proslipsis" nillable="false">
                <xs:annotation><xs:documentation>ΗΜΕΡΟΜΗΝΙΑ ΤΟΠΟΘΕΤΗΣΗΣ ΠΡΑΚΤΙΚΗΣ ΑΣΚΗΣΗΣ</xs:documentation></xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="(([0]?)([1-9])([/])([0]?1|[0]?2|[0]?3|[0]?4|[0]?5|[0]?6|[0]?7|[0]?8|[0]?9|10|11|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([1])([0-9])([/])([0]?1|[0]?2|[0]?3|[0]?4|[0]?5|[0]?6|[0]?7|[0]?8|[0]?9|10|11|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([2])([0-9])([/])([0]?1|[0]?3|[0]?4|[0]?5|[0]?6|[0]?7|[0]?8|[0]?9|10|11|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([2])([0-8])([/])([0]?2)([/])([1-2])([0-9])([0-9])([0-9]))|(([2])([9])([/])([0]?2)([/])([1-2])([0-9])(00|04|08|12|16|20|24|28|32|36|40|44|48|52|56|60|64|68|72|76|80|84|88|92|96))|(([3])([0-1])([/])(01|03|05|07|08|10|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([3])([0])([/])(04|06|09|11)([/])([1-2])([0-9])([0-9])([0-9]))|([ ]*)"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_date_time_proslipsis" nillable="false">
                <xs:annotation><xs:documentation>ΩΡΑ ΕΝΑΡΞΗΣ ΠΡΑΚΤΙΚΗΣ ΑΣΚΗΣΗΣ (κατά την πρώτη ημέρα πρακτικής άσκησης)</xs:documentation></xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="([0-1][0-9]|2[0-3]):([0-5][0-9])"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
          <xs:element name="f_week_hours" nillable="false">
            <xs:annotation>
              <xs:documentation>ΩΡΕΣ ΕΒΔΟΜΑΔΙΑΙΩΣ ΠΡΑΚΤΙΚΗΣ ΑΣΚΗΣΗΣ</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:pattern value="([0-9]{3}|[0-9]+)(,[0-9])"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
            <xs:element name="f_total_hours" >
                <xs:annotation>
                    <xs:documentation>ΣΥΝΟΛΙΚΕΣ ΩΡΕΣ ΠΡΑΚΤΙΚΗΣ ΑΣΚΗΣΗΣ ΓΙΑ ΤΟΥΣ ΠΡΑΚΤΙΚΑ ΑΣΚΟΥΜΕΝΟΥΣ ΙΕΚ (αφορά τις συνολικές ώρες πρακτικής άσκησης  ΙΕΚ, σε χώρους εργασίας σε συναφείς με την κατάρτιση τους κλάδους)</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="(([0-9]{3}|[0-9]+)(,[0-9]))|([ ]*)"/>
                  </xs:restriction>
                </xs:simpleType>
            </xs:element>
			<xs:element name="f_eidikothta">
				<xs:annotation>
					<xs:documentation>ΕΙΔΙΚΟΤΗΤΑ ΠΡΑΚΤΙΚΗΣ ΑΣΚΗΣΗΣ (ΑΚΡΙΒΗΣ ΠΕΡΙΓΡΑΦΗ)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
                        <xs:pattern value="[0-9]{1,6}" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="f_apodoxes" nillable="false">
                <xs:annotation>
                    <xs:documentation>ΑΠΟΖΗΜΙΩΣΗ ΠΡΑΚΤΙΚΑ ΑΣΚΟΥΜΕΝΟΥ</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="([0-9]{1,3}\.([0-9]{3}\.)*[0-9]{3}|[0-9]+)(,[0-9][0-9])"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
          <xs:element name="f_hour_apodoxes" nillable="false">
            <xs:annotation>
              <xs:documentation>ΩΡΙΑΙΑ ΑΠΟΖΗΜΙΩΣΗ ΠΡΑΚΤΙΚΑ ΑΣΚΟΥΜΕΝΟΥ</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:pattern value="([0-9]{1,3}\.([0-9]{3}\.)*[0-9]{3}|[0-9]+)(,[0-9][0-9])"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
            <xs:element name="f_orismenou_apo" nillable="false">
                <xs:annotation><xs:documentation>ΗΜΕΡΟΜΗΝΙΑ ΕΝΑΡΞΗΣ ΠΡΑΚΤΙΚΗΣ ΑΣΚΗΣΗΣ</xs:documentation></xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="(([0]?)([1-9])([/])([0]?1|[0]?2|[0]?3|[0]?4|[0]?5|[0]?6|[0]?7|[0]?8|[0]?9|10|11|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([1])([0-9])([/])([0]?1|[0]?2|[0]?3|[0]?4|[0]?5|[0]?6|[0]?7|[0]?8|[0]?9|10|11|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([2])([0-9])([/])([0]?1|[0]?3|[0]?4|[0]?5|[0]?6|[0]?7|[0]?8|[0]?9|10|11|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([2])([0-8])([/])([0]?2)([/])([1-2])([0-9])([0-9])([0-9]))|(([2])([9])([/])([0]?2)([/])([1-2])([0-9])(00|04|08|12|16|20|24|28|32|36|40|44|48|52|56|60|64|68|72|76|80|84|88|92|96))|(([3])([0-1])([/])(01|03|05|07|08|10|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([3])([0])([/])(04|06|09|11)([/])([1-2])([0-9])([0-9])([0-9]))|([ ]*)"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_orismenou_ews" nillable="false">
                <xs:annotation><xs:documentation>ΗΜΕΡΟΜΗΝΙΑ ΛΗΞΗΣ ΠΡΑΚΤΙΚΗΣ ΑΣΚΗΣΗΣ</xs:documentation></xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="(([0]?)([1-9])([/])([0]?1|[0]?2|[0]?3|[0]?4|[0]?5|[0]?6|[0]?7|[0]?8|[0]?9|10|11|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([1])([0-9])([/])([0]?1|[0]?2|[0]?3|[0]?4|[0]?5|[0]?6|[0]?7|[0]?8|[0]?9|10|11|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([2])([0-9])([/])([0]?1|[0]?3|[0]?4|[0]?5|[0]?6|[0]?7|[0]?8|[0]?9|10|11|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([2])([0-8])([/])([0]?2)([/])([1-2])([0-9])([0-9])([0-9]))|(([2])([9])([/])([0]?2)([/])([1-2])([0-9])(00|04|08|12|16|20|24|28|32|36|40|44|48|52|56|60|64|68|72|76|80|84|88|92|96))|(([3])([0-1])([/])(01|03|05|07|08|10|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([3])([0])([/])(04|06|09|11)([/])([1-2])([0-9])([0-9])([0-9]))|([ ]*)"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
          <xs:element name="f_topothetisioaed" nillable="false">
            <xs:annotation>
              <xs:documentation>ΤΟΠΟΘΕΤΗΣΗ ΜΕ ΠΡΟΓΡΑΜΜΑ ΠΡΑΚΤΙΚΗΣ ΑΣΚΗΣΗΣ ΑΕΙ/ΑΤΕΙ ΔΥΠΑ (0) ΌΧΙ (1) ΝΑΙ </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="0"/>
                <xs:enumeration value="1"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
            <xs:element name="f_comments">
                <xs:annotation>
                    <xs:documentation>ΣΗΜΕΙΩΣΕΙΣ</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="100" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
			<xs:element name="f_time_from_1">
                <xs:annotation><xs:documentation>ΑΠΑΣΧ ΔΕ ΑΠΟ:</xs:documentation></xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="(([0-1][0-9]|2[0-3]):([0-5][0-9]))?"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
			<xs:element name="f_time_to_1">
                <xs:annotation><xs:documentation>ΑΠΑΣΧ ΔΕ ΕΩΣ:</xs:documentation></xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="(([0-1][0-9]|2[0-3]):([0-5][0-9]))?"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
			<xs:element name="f_time_from_2">
                <xs:annotation><xs:documentation>ΑΠΑΣΧ ΤΡ ΑΠΟ:</xs:documentation></xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="(([0-1][0-9]|2[0-3]):([0-5][0-9]))?"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
			<xs:element name="f_time_to_2">
                <xs:annotation><xs:documentation>ΑΠΑΣΧ ΤΡ ΕΩΣ:</xs:documentation></xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="(([0-1][0-9]|2[0-3]):([0-5][0-9]))?"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
			<xs:element name="f_time_from_3">
                <xs:annotation><xs:documentation>ΑΠΑΣΧ ΤΕ ΑΠΟ:</xs:documentation></xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="(([0-1][0-9]|2[0-3]):([0-5][0-9]))?"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
			<xs:element name="f_time_to_3">
                <xs:annotation><xs:documentation>ΑΠΑΣΧ ΤΕ ΕΩΣ:</xs:documentation></xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="(([0-1][0-9]|2[0-3]):([0-5][0-9]))?"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
			<xs:element name="f_time_from_4">
                <xs:annotation><xs:documentation>ΑΠΑΣΧ ΠΕ ΑΠΟ:</xs:documentation></xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="(([0-1][0-9]|2[0-3]):([0-5][0-9]))?"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
			<xs:element name="f_time_to_4">
                <xs:annotation><xs:documentation>ΑΠΑΣΧ ΠΕ ΕΩΣ:</xs:documentation></xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="(([0-1][0-9]|2[0-3]):([0-5][0-9]))?"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
			<xs:element name="f_time_from_5">
                <xs:annotation><xs:documentation>ΑΠΑΣΧ ΠΑ ΑΠΟ:</xs:documentation></xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="(([0-1][0-9]|2[0-3]):([0-5][0-9]))?"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
			<xs:element name="f_time_to_5">
                <xs:annotation><xs:documentation>ΑΠΑΣΧ ΠΑ ΕΩΣ:</xs:documentation></xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="(([0-1][0-9]|2[0-3]):([0-5][0-9]))?"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
			<xs:element name="f_time_from_6">
                <xs:annotation><xs:documentation>ΑΠΑΣΧ ΣΑ ΑΠΟ:</xs:documentation></xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="(([0-1][0-9]|2[0-3]):([0-5][0-9]))?"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
			<xs:element name="f_time_to_6">
                <xs:annotation><xs:documentation>ΑΠΑΣΧ ΣΑ ΕΩΣ:</xs:documentation></xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="(([0-1][0-9]|2[0-3]):([0-5][0-9]))?"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
			<xs:element name="f_time_from_7">
                <xs:annotation><xs:documentation>ΑΠΑΣΧ ΚΥ ΑΠΟ:</xs:documentation></xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="(([0-1][0-9]|2[0-3]):([0-5][0-9]))?"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
			<xs:element name="f_time_to_7">
                <xs:annotation><xs:documentation>ΑΠΑΣΧ ΚΥ ΕΩΣ:</xs:documentation></xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="(([0-1][0-9]|2[0-3]):([0-5][0-9]))?"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
			
			
			<xs:element name="f_second_time_from_1">
                <xs:annotation><xs:documentation>ΑΠΑΣΧ(Σε περίπτωση "Σπαστού" Ωραρίου) ΔΕ ΑΠΟ:</xs:documentation></xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="(([0-1][0-9]|2[0-3]):([0-5][0-9]))?"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
			<xs:element name="f_second_time_to_1">
                <xs:annotation><xs:documentation>ΑΠΑΣΧ(Σε περίπτωση "Σπαστού" Ωραρίου) ΔΕ ΕΩΣ:</xs:documentation></xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="(([0-1][0-9]|2[0-3]):([0-5][0-9]))?"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
			<xs:element name="f_second_time_from_2">
                <xs:annotation><xs:documentation>ΑΠΑΣΧ(Σε περίπτωση "Σπαστού" Ωραρίου) ΤΡ ΑΠΟ:</xs:documentation></xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="(([0-1][0-9]|2[0-3]):([0-5][0-9]))?"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
			<xs:element name="f_second_time_to_2">
                <xs:annotation><xs:documentation>ΑΠΑΣΧ(Σε περίπτωση "Σπαστού" Ωραρίου) ΤΡ ΕΩΣ:</xs:documentation></xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="(([0-1][0-9]|2[0-3]):([0-5][0-9]))?"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
			<xs:element name="f_second_time_from_3">
                <xs:annotation><xs:documentation>ΑΠΑΣΧ(Σε περίπτωση "Σπαστού" Ωραρίου) ΤΕ ΑΠΟ:</xs:documentation></xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="(([0-1][0-9]|2[0-3]):([0-5][0-9]))?"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
			<xs:element name="f_second_time_to_3">
                <xs:annotation><xs:documentation>ΑΠΑΣΧ(Σε περίπτωση "Σπαστού" Ωραρίου) ΤΕ ΕΩΣ:</xs:documentation></xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="(([0-1][0-9]|2[0-3]):([0-5][0-9]))?"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
			<xs:element name="f_second_time_from_4">
                <xs:annotation><xs:documentation>ΑΠΑΣΧ(Σε περίπτωση "Σπαστού" Ωραρίου) ΠΕ ΑΠΟ:</xs:documentation></xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="(([0-1][0-9]|2[0-3]):([0-5][0-9]))?"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
			<xs:element name="f_second_time_to_4">
                <xs:annotation><xs:documentation>ΑΠΑΣΧ(Σε περίπτωση "Σπαστού" Ωραρίου) ΠΕ ΕΩΣ:</xs:documentation></xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="(([0-1][0-9]|2[0-3]):([0-5][0-9]))?"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
			<xs:element name="f_second_time_from_5">
                <xs:annotation><xs:documentation>ΑΠΑΣΧ(Σε περίπτωση "Σπαστού" Ωραρίου) ΠΑ ΑΠΟ:</xs:documentation></xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="(([0-1][0-9]|2[0-3]):([0-5][0-9]))?"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
			<xs:element name="f_second_time_to_5">
                <xs:annotation><xs:documentation>ΑΠΑΣΧ(Σε περίπτωση "Σπαστού" Ωραρίου) ΠΑ ΕΩΣ:</xs:documentation></xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="(([0-1][0-9]|2[0-3]):([0-5][0-9]))?"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
			<xs:element name="f_second_time_from_6">
                <xs:annotation><xs:documentation>ΑΠΑΣΧ(Σε περίπτωση "Σπαστού" Ωραρίου) ΣΑ ΑΠΟ:</xs:documentation></xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="(([0-1][0-9]|2[0-3]):([0-5][0-9]))?"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
			<xs:element name="f_second_time_to_6">
                <xs:annotation><xs:documentation>ΑΠΑΣΧ(Σε περίπτωση "Σπαστού" Ωραρίου) ΣΑ ΕΩΣ:</xs:documentation></xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="(([0-1][0-9]|2[0-3]):([0-5][0-9]))?"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
			<xs:element name="f_second_time_from_7">
                <xs:annotation><xs:documentation>ΑΠΑΣΧ(Σε περίπτωση "Σπαστού" Ωραρίου) ΚΥ ΑΠΟ:</xs:documentation></xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="(([0-1][0-9]|2[0-3]):([0-5][0-9]))?"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
			<xs:element name="f_second_time_to_7">
                <xs:annotation><xs:documentation>ΑΠΑΣΧ(Σε περίπτωση "Σπαστού" Ωραρίου) ΚΥ ΕΩΣ:</xs:documentation></xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="(([0-1][0-9]|2[0-3]):([0-5][0-9]))?"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
			
		
			<xs:element name="f_break_time_from_1">
                <xs:annotation><xs:documentation>ΔΙΑΛ ΔΕ ΑΠΟ:</xs:documentation></xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="(([0-1][0-9]|2[0-3]):([0-5][0-9]))?"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
			<xs:element name="f_break_time_to_1">
                <xs:annotation><xs:documentation>ΔΙΑΛ ΔΕ ΕΩΣ:</xs:documentation></xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="(([0-1][0-9]|2[0-3]):([0-5][0-9]))?"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
			<xs:element name="f_break_time_from_2">
                <xs:annotation><xs:documentation>ΔΙΑΛ ΤΡ ΑΠΟ:</xs:documentation></xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="(([0-1][0-9]|2[0-3]):([0-5][0-9]))?"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
			<xs:element name="f_break_time_to_2">
                <xs:annotation><xs:documentation>ΔΙΑΛ ΤΡ ΕΩΣ:</xs:documentation></xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="(([0-1][0-9]|2[0-3]):([0-5][0-9]))?"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
			<xs:element name="f_break_time_from_3">
                <xs:annotation><xs:documentation>ΔΙΑΛ ΤΕ ΑΠΟ:</xs:documentation></xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="(([0-1][0-9]|2[0-3]):([0-5][0-9]))?"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
			<xs:element name="f_break_time_to_3">
                <xs:annotation><xs:documentation>ΔΙΑΛ ΤΕ ΕΩΣ:</xs:documentation></xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="(([0-1][0-9]|2[0-3]):([0-5][0-9]))?"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
			<xs:element name="f_break_time_from_4">
                <xs:annotation><xs:documentation>ΔΙΑΛ ΠΕ ΑΠΟ:</xs:documentation></xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="(([0-1][0-9]|2[0-3]):([0-5][0-9]))?"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
			<xs:element name="f_break_time_to_4">
                <xs:annotation><xs:documentation>ΔΙΑΛ ΠΕ ΕΩΣ:</xs:documentation></xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="(([0-1][0-9]|2[0-3]):([0-5][0-9]))?"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
			<xs:element name="f_break_time_from_5">
                <xs:annotation><xs:documentation>ΔΙΑΛ ΠΑ ΑΠΟ:</xs:documentation></xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="(([0-1][0-9]|2[0-3]):([0-5][0-9]))?"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
			<xs:element name="f_break_time_to_5">
                <xs:annotation><xs:documentation>ΔΙΑΛ ΠΑ ΕΩΣ:</xs:documentation></xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="(([0-1][0-9]|2[0-3]):([0-5][0-9]))?"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
			<xs:element name="f_break_time_from_6">
                <xs:annotation><xs:documentation>ΔΙΑΛ ΣΑ ΑΠΟ:</xs:documentation></xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="(([0-1][0-9]|2[0-3]):([0-5][0-9]))?"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
			<xs:element name="f_break_time_to_6">
                <xs:annotation><xs:documentation>ΔΙΑΛ ΣΑ ΕΩΣ:</xs:documentation></xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="(([0-1][0-9]|2[0-3]):([0-5][0-9]))?"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
			<xs:element name="f_break_time_from_7">
                <xs:annotation><xs:documentation>ΔΙΑΛ ΚΥ ΑΠΟ:</xs:documentation></xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="(([0-1][0-9]|2[0-3]):([0-5][0-9]))?"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
			<xs:element name="f_break_time_to_7">
                <xs:annotation><xs:documentation>ΔΙΑΛ ΚΥ ΕΩΣ:</xs:documentation></xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="(([0-1][0-9]|2[0-3]):([0-5][0-9]))?"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>

			
            <xs:element name="f_eponymo_idiotitas" nillable="false">
                <xs:annotation>
                    <xs:documentation>ΠΡΟΪΣΤ. ΠΡΟΣΩΠΙΚΟΥ ή ΟΙΚΟΝΟΜΙΚΟΥ ή  ΛΟΓΙΣΤΗΣ, Ο ΒΕΒΑΙΩΝ ΕΠΩΝΥΜΟ</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="100" />
                        <xs:minLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_onoma_idiotitas" nillable="false">
                <xs:annotation>
                    <xs:documentation>ΠΡΟΪΣΤ. ΠΡΟΣΩΠΙΚΟΥ ή ΟΙΚΟΝΟΜΙΚΟΥ ή  ΛΟΓΙΣΤΗΣ, Ο ΒΕΒΑΙΩΝ ΟΝΟΜΑ</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="50" />
                        <xs:minLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_idiotita_idiotitas" nillable="false">
                <xs:annotation>
                    <xs:documentation>ΠΡΟΪΣΤ. ΠΡΟΣΩΠΙΚΟΥ ή ΟΙΚΟΝΟΜΙΚΟΥ ή  ΛΟΓΙΣΤΗΣ, Ο ΒΕΒΑΙΩΝ ΙΔΙΟΤΗΤΑ</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="50" />
                        <xs:minLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_dieythinsi_idiotitas" nillable="false">
                <xs:annotation>
                    <xs:documentation>ΠΡΟΪΣΤ. ΠΡΟΣΩΠΙΚΟΥ ή ΟΙΚΟΝΟΜΙΚΟΥ ή  ΛΟΓΙΣΤΗΣ, Ο ΒΕΒΑΙΩΝ ΔΙΕΥΘΥΝΣΗ ΚΑΤΟΙΚΙΑΣ</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="70" />
                        <xs:minLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_afm_idiotitas" nillable="false">
                <xs:annotation>
                    <xs:documentation>ΠΡΟΪΣΤ. ΠΡΟΣΩΠΙΚΟΥ ή ΟΙΚΟΝΟΜΙΚΟΥ ή  ΛΟΓΙΣΤΗΣ, Ο ΒΕΒΑΙΩΝ ΔΙΕΥΘΥΝΣΗ Α.Φ.Μ.</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="([0-9]){9}" />
                        <xs:length value="9" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element> 
            <!-- END Ε35 -->
            <xs:element name="f_afm_proswpoy" nillable="false">
                <xs:annotation>
                    <xs:documentation>Νόμιμος Εκπρόσωπος(Α.Φ.Μ.)</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="([0-9]){9}" />
                        <xs:length value="9" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="f_file">
                <xs:annotation>
                <xs:documentation>Αρχείο Εντύπου Αρχείο(pdf)</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:base64Binary">
					</xs:restriction>
				</xs:simpleType>
            </xs:element>
            <xs:element name="f_foreign_file">
                <xs:annotation>
                <xs:documentation>Αρχείο Νομιμοποιητικών Εγγράφων Πρόσβασης στην Αγορά Εργασίας Πολιτών Τρίτων Χωρών Αρχείο(pdf)</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:base64Binary">
					</xs:restriction>
				</xs:simpleType>
            </xs:element>
            <xs:element name="f_young_file">
                <xs:annotation>
                <xs:documentation>Αρχείο Βιβιαρίου Ανηλίκου Εργαζομένου(pdf)</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:base64Binary">
					</xs:restriction>
				</xs:simpleType>
            </xs:element>

           
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PraktikesE35Type">
		<xs:sequence>
			<xs:element name="PraktikhE35" type="PraktikhE35Type"  minOccurs="1"  maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>ΑΝΑΓΓΕΛΙΕΣ ΠΡΑΚΤΙΚΗΣ Ε3.5</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
    <xs:element name="PraktikesE35" type="PraktikesE35Type">
		<xs:annotation>
			<xs:documentation>ΑΝΑΓΓΕΛΙΕΣ ΠΡΑΚΤΙΚΗΣ Ε3.5</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
