xsd/WorkingStatusChange_v1.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Developer Edition (Trial) 8.1.7.2743 (http://www.liquid-technologies.com)-->
<xs:schema xmlns="http://www.yeka.gr/WorkingStatus" xml:lang="gr" attributeFormDefault="unqualified" targetNamespace="http://www.yeka.gr/WorkingStatus" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ErgazomenosWorkingStatusChangeType">
    <xs:sequence>
      <xs:element name="f_afm" nillable="false">
        <xs:annotation>
          <xs:documentation>ΑΡΙΘΜΟΣ ΦΟΡΟΛΟΓΙΚΟΥ ΜΗΤΡΩΟΥ (Α.Φ.Μ.)</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="([0-9]){9}" />
            <xs:length value="9" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="f_eponymo" nillable="false">
        <xs:annotation>
          <xs:documentation>ΕΠΩΝΥΜΟ</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="f_onoma" nillable="false">
        <xs:annotation>
          <xs:documentation>ΟΝΟΜΑ</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="30" />
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="f_date" nillable="false">
        <xs:annotation>
          <xs:documentation>ΗΜΕΡΟΜΗΝΙΑ</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="(([0]?)([1-9])([/])([0]?1|[0]?2|[0]?3|[0]?4|[0]?5|[0]?6|[0]?7|[0]?8|[0]?9|10|11|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([1])([0-9])([/])([0]?1|[0]?2|[0]?3|[0]?4|[0]?5|[0]?6|[0]?7|[0]?8|[0]?9|10|11|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([2])([0-9])([/])([0]?1|[0]?3|[0]?4|[0]?5|[0]?6|[0]?7|[0]?8|[0]?9|10|11|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([2])([0-8])([/])([0]?2)([/])([1-2])([0-9])([0-9])([0-9]))|(([2])([9])([/])([0]?2)([/])([1-2])([0-9])(00|04|08|12|16|20|24|28|32|36|40|44|48|52|56|60|64|68|72|76|80|84|88|92|96))|(([3])([0-1])([/])(01|03|05|07|08|10|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([3])([0])([/])(04|06|09|11)([/])([1-2])([0-9])([0-9])([0-9]))"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="f_working_time_digital_organization" nillable="false">
        <xs:annotation>
          <xs:documentation>ΨΗΦΙΑΚΗ ΟΡΓΑΝΩΣΗ ΧΡΟΝΟΥ ΕΡΓΑΣΙΑΣ (0) ΌΧΙ (1) ΝΑΙ </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="f_full_employment_hours" nillable="false">
        <xs:annotation>
          <xs:documentation>ΣΥΜΒΑΤΙΚΕΣ ΕΒΔΟΜΑΔΙΑΙΕΣ ΩΡΕΣ ΠΛΗΡΟΥΣ ΑΠΑΣΧΟΛΗΣΗΣ</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="([0-9]{2}|[0-9]+)(,[0-9])"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="f_week_days" nillable="false">
        <xs:annotation>
          <xs:documentation>ΕΒΔΟΜΑΔΙΑΙΑ ΑΠΑΣΧΟΛΗΣΗ (5) ΠΕΝΘΗΜΕΡΟ (6) ΕΞΑΗΜΕΡΟ</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="5"/>
            <xs:enumeration value="6"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
     
      <xs:element name="f_euelikto_wrario_minutes" nillable="false">
        <xs:annotation>
          <xs:documentation>ΕΥΕΛΙΚΤΗ ΠΡΟΣΕΛΕΥΣΗ (ΛΕΠΤΑ)</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,3}" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="f_working_card" nillable="false">
        <xs:annotation>
          <xs:documentation>ΚΑΡΤΑ ΕΡΓΑΣΙΑΣ (0) ΌΧΙ (1) ΝΑΙ </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="f_dialeimma_minutes" nillable="false">
        <xs:annotation>
          <xs:documentation>ΔΙΑΛΕΙΜΜΑ (ΛΕΠΤΑ)</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,3}" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="f_dialeimma_entos_wrariou" nillable="false">
        <xs:annotation>
          <xs:documentation>ΔΙΑΛΕΙΜΜΑ ΕΝΤΟΣ ΩΡΑΡΙΟΥ (0) ΌΧΙ (1) ΝΑΙ </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ErgazomenoiWorkingStatusChangeType">
    <xs:sequence>
      <xs:element name="Ergazomenos" type="ErgazomenosWorkingStatusChangeType"  minOccurs="1"  maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Εργαζόμενοι Δήλωσης Μεταβολής Στοιχειών Εργασιακής Σχέσης</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WorkingStatusChangeType">
    <xs:sequence>
      <xs:element name="f_aa_pararthmatos" nillable="false">
        <xs:annotation>
          <xs:documentation>Α/Α ΠΑΡΑΡΤΗΜΑΤΟΣ</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,5}" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="f_rel_protocol">
        <xs:annotation>
          <xs:documentation>ΣΧΕΤΙΚΟ ΕΝΤΥΠΟ ΑΡΙΘ. ΠΡΩΤ.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="f_rel_date">
        <xs:annotation>
          <xs:documentation>ΣΧΕΤΙΚΟ ΕΝΤΥΠΟ ΗΜΕΡΟΜΗΝΙΑ</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="(([0]?)([1-9])([/])([0]?1|[0]?2|[0]?3|[0]?4|[0]?5|[0]?6|[0]?7|[0]?8|[0]?9|10|11|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([1])([0-9])([/])([0]?1|[0]?2|[0]?3|[0]?4|[0]?5|[0]?6|[0]?7|[0]?8|[0]?9|10|11|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([2])([0-9])([/])([0]?1|[0]?3|[0]?4|[0]?5|[0]?6|[0]?7|[0]?8|[0]?9|10|11|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([2])([0-8])([/])([0]?2)([/])([1-2])([0-9])([0-9])([0-9]))|(([2])([9])([/])([0]?2)([/])([1-2])([0-9])(00|04|08|12|16|20|24|28|32|36|40|44|48|52|56|60|64|68|72|76|80|84|88|92|96))|(([3])([0-1])([/])(01|03|05|07|08|10|12)([/])([1-2])([0-9])([0-9])([0-9]))|(([3])([0])([/])(04|06|09|11)([/])([1-2])([0-9])([0-9])([0-9]))|([ ]*)"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="f_comments" nillable="false">
        <xs:annotation>
          <xs:documentation>ΠΑΡΑΤΗΡΗΣΕΙΣ</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="200" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Ergazomenoi" type="ErgazomenoiWorkingStatusChangeType">
        <xs:annotation>
          <xs:documentation>ΕΡΓΑΖΟΜΕΝΟΙ ΔΗΛΩΣΗΣ ΜΕΤΑΒΟΛΗΣ ΣΤΟΙΧΕΙΩΝ ΕΡΓΑΣΙΑΚΗΣ ΣΧΕΣΗΣ</xs:documentation>
        </xs:annotation>
      </xs:element>

    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WorkingStatusChangesType">
    <xs:sequence>
      <xs:element name="WorkingStatusChange" type="WorkingStatusChangeType"  minOccurs="1"  maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Δήλωση Μεταβολής Στοιχείων Εργασιακής Σχέσης</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WorkingStatusChanges" type="WorkingStatusChangesType">
    <xs:annotation>
      <xs:documentation>Δηλώσεις Μεταβολής Στοιχείων Εργασιακής Σχέσης</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>
